$main-font: 'Georgia', serif;

:root {
  --text-color: #023047;
  --background-main-color: #e9c46a;
  --background-secondary-color: #ccd5ae;
  --background-tertiary-color: #e9edc9;
  --text-color-main-color: #fefae0;
  --button-color: #2a9d8f;
}

.main-books {
  text-align: center;
  padding-top: 5em;

  .books-inner {
    margin: 1em 8% 3em 8%;
    padding: 0;
    text-align: center;
  }

  h1 {
    text-align: left;
    margin: 20px 0 0 5em;
  }

  hr {
    margin: 0.5em 0.7em 2em 10em;
  }

  section {
    text-align: center;
    margin-bottom: 20px;

    input {
      font-size: 180%;
    }
  }

  article {
    float: left;
    margin: 15px;
    padding: 10px;
    width: 350px;
    height: 330px;
    border-style: solid;
    border-width: 1px;

    img {
      width: 95%;
      height: auto;
      padding: 3px 9px;
    }

    h3,
    p {
      text-align: center;
    }

    p {
      margin: 0 0 10px 0;
    }

    h3 {
      margin: 5px 0 10px 0;
    }
    &:hover {
      background-color: white;
      font-size: 20px;
      transform: scale(1.02);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

    }
  }

  form {
    text-align: center;
    background-color: white;
    margin: 10px 10em 2em 10em;
    border-radius: 15px;
    padding: 10px;
    label {
      color: var(--text-color);
      margin: 34px;
      font-family: $main-font;
      font-size: small;
    }

    input {

      margin: 10px 90px 10px 34px;
      font-family: $main-font;
      font-size: small;
      border-color: var(--background-tertiary-color);
      background-color: white;
      border-style: solid;
      border-width: 3px;
      border-radius: 5px;
      padding: 10px 15px;
    }
  }
  input[type="text"]:focus{
    outline: none;
    background-color: var(--background-tertiary-color);;
  }

  .red-background {
    background-color: red;
  }

  .green-background {
    background-color: green;
  }

  @media (max-width: 768px) {
    article {
      width: 100%;
      height: auto;
      margin: 15px 0;
    }

    form {
      margin: 10px 1em 2em 1em;

      input {
        margin: 10px 0;
      }
    }
  }
}
